*
{
    /* background-color: black; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbrand h1
{
  color: blue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



body
{
    background-color: black;
    background-image: url("wallpapersden.com_scary-joker-minimal-4k_3840x2061.jpg");
    background-size: cover;
}

.wrapper{
    padding: 0px 10px;
    height: 50px;
    line-height: 50px;
    display: flex;
    
    top: 0px;
    justify-content: space-between;
    background-color: whitesmoke;

}
.navlist{
    list-style: none;
    text-align: center;
}

.navlist li a{
    text-decoration: solid;
    color: blue;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   transition: all 10s ease-in;

}

.navlist:hover{
    transform: scale(1);
}


.navlist li{
    display: inline-block;
    margin: 0px 10px;

}

.main p
{
    color: yellow;
    font-style: italic;
}

.main a
{
    text-decoration: none;
    color: blue;
    font-style: italic;
}
